./media-server/tv/*
./media-server/movies/*
./media-server/music/*
./media-server/downloads/*

./black-candy/uploads_data/*
./black-candy/production.sqlite3

./jackett/data/*

./jellyfin/cache/*
./jellyfin/config/*
./jellyfin/library/*

./radarr/data/*

./sonarr/data/*

./transmission/data/*
./transmission/watch/*

